@import '../settings/colors';
@import '../tools/mixins';

.kl-footer {
  $md-breakpoint: 680px;
  $lg-breakpoint: 1024px;

  padding: 32px 0;
  display: flex;
  align-items: center;

  background-color: $footer-background-color;
  // box-shadow: 0 0 12px -5px black;
  
  h1, h2, h3, h4, h5, h6, p, a, div, span {
    color: $footer-text-color;
  }

  &__wrapper {
    width: 100%;
  }

  &__legal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.875rem;
    margin: -0.625rem -1.25rem;

    & > span {
      margin: 0.625rem 1.25rem;
      color: $footer-text-color;
    }

    a {
      color: $footer-text-color; 

      &:hover,
      &:focus,
      &:active {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;

    @include breakpoint($md-breakpoint) {
      display: block;
      padding: 120px 0 32px;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 0 0 32px;
    }
  }

  &__address {
    margin: 32px 0 16px;
    
    p {
      color: $footer-text-color; 
    }
  }

  &__info {
    flex-basis: 250px;

    img {
      display: block;
      height: 48px;
      max-width: 200px;
    }

    p {
      font-size: 0.875em;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 -16px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      margin: 8px 16px;
    }

    svg {
      display: block;
      width: 25px;
      height: 25px;
      fill: $footer-text-color;
      transition: all .25s ease-in-out;
    }

    a:hover svg {
      fill: $primary-color;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin: -16px 0;

    @include breakpoint($md-breakpoint) {
      margin: 16px -16px 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: bold;
      margin: 0 0 2rem;
      color: $footer-text-color;
    }

    a {
      display: block;
      font-size: 0.875em;
      font-weight: 500;
      line-height: 17px;
      color: $footer-text-color;
      margin: 0 0 1.375em;

      &:hover,
      &:focus,
      &:active {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  &__group {
    margin: 16px 42px;

    @include breakpoint($md-breakpoint) {
      margin: 16px;
    }
  }
}
