@import '../tools/mixins';

.kl-logos {
  $xs-breakpoint: 340px;
  $sm-breakpoint: 480px;
  $md-breakpoint: 768px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  @include breakpoint($md-breakpoint) {
    flex-wrap: wrap;
  }

  &__item {
    padding: 16px 24px;

    & > img {
      width: 100%;
      display: block;
    }

    @include breakpoint($md-breakpoint) {
      flex-basis: 25%;
    }

    @include breakpoint($sm-breakpoint) {
      flex-basis: 33%;
    }

    @include breakpoint($xs-breakpoint) {
      flex-basis: 50%;
    }

  }

}
