<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pricing
  screenshotPath: ../images/template-previews/pricing.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--pricing', label='Main section' %}

    {# Pricing cards section #}
    {% dnd_section background_color={ r: 241, g: 244, b: 249 } %}

      {% dnd_column padding={ 'left': 0, 'right': 0 } %}

        {% dnd_row padding={ 'bottom': 48 } %}

          {# Heading #}
          {% dnd_module path='@hubspot/rich_text', label='Header', horizontal_alignment='CENTER' %}
            {% module_attribute 'html' %}
              <h1>Scale your marketing metrics</h1>
            {% end_module_attribute %}
          {% end_dnd_module %}

        {% end_dnd_row %}

        {% dnd_row %}

          {% dnd_module path='../modules/Pricing Cards', label='Pricing Cards' %}
          {% end_dnd_module %}

        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# FAQ Section #}
    {% dnd_section %}

      {% dnd_column padding={ 'left': 0, 'right': 0 }%}

        {% dnd_row padding={ 'bottom': 48 } %}
          {% dnd_module path='../modules/Custom Rich Text', preheader='FAQ' %}
            {% module_attribute 'content' %}
              <h2>Need clarification?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/FAQ' %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {% dnd_section background_color={ r: 241, g: 244, b: 249 } %}

      {% dnd_module path='../modules/Custom Rich Text', alignment='center',
        primary_cta={ type: 'btn', style: 'filled', text: 'GET A DEMO' },
        secondary_cta={ type: 'btn', style: 'outlined', text: 'TRY FREE' }
      %}
        {% module_attribute 'content' %}
          <h2>One tool for all your metrics</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}

    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
