@import '../tools/functions';

$primary-font: hubl('theme.global_fonts.primary_font.font');
$secondary-font: hubl('theme.global_fonts.secondary_font.font');

$body-font: hubl('theme.typography.body_text.font');
$body-font-color: hubl('theme.typography.body_text.color');
$body-font-size: hubl('theme.typography.body_text.size') + hubl('theme.typography.body_text.size_unit');

$h1-font: hubl('theme.typography.heading_one.font');
$h1-font-size: hubl('theme.typography.heading_one.size') + hubl('theme.typography.heading_one.size_unit');
$h1-font-color: hubl('theme.typography.heading_one.color');
$h1-font-decoration: hubl('theme.typography.heading_one.styles.get("text-decoration")');
$h1-font-style: hubl('theme.typography.heading_one.styles.get("font-style")');
$h1-font-weight: hubl('theme.typography.heading_one.styles.get("font-weight")');

$h2-font: hubl('theme.typography.heading_two.font');
$h2-font-size: hubl('theme.typography.heading_two.size') + hubl('theme.typography.heading_two.size_unit');
$h2-font-color: hubl('theme.typography.heading_two.color');
$h2-font-decoration: hubl('theme.typography.heading_two.styles.get("text-decoration")');
$h2-font-style: hubl('theme.typography.heading_two.styles.get("font-style")');
$h2-font-weight: hubl('theme.typography.heading_two.styles.get("font-weight")');

$h3-font: hubl('theme.typography.heading_three.font');
$h3-font-size: hubl('theme.typography.heading_three.size') + hubl('theme.typography.heading_three.size_unit');
$h3-font-color: hubl('theme.typography.heading_three.color');
$h3-font-decoration: hubl('theme.typography.heading_three.styles.get("text-decoration")');
$h3-font-style: hubl('theme.typography.heading_three.styles.get("font-style")');
$h3-font-weight: hubl('theme.typography.heading_three.styles.get("font-weight")');

$h4-font: hubl('theme.typography.heading_four.font');
$h4-font-size: hubl('theme.typography.heading_four.size') + hubl('theme.typography.heading_four.size_unit');
$h4-font-color: hubl('theme.typography.heading_four.color');
$h4-font-decoration: hubl('theme.typography.heading_four.styles.get("text-decoration")');
$h4-font-style: hubl('theme.typography.heading_four.styles.get("font-style")');
$h4-font-weight: hubl('theme.typography.heading_four.styles.get("font-weight")');

$h5-font: hubl('theme.typography.heading_five.font');
$h5-font-size: hubl('theme.typography.heading_five.size') + hubl('theme.typography.heading_five.size_unit');
$h5-font-color: hubl('theme.typography.heading_five.color');
$h5-font-decoration: hubl('theme.typography.heading_five.styles.get("text-decoration")');
$h5-font-style: hubl('theme.typography.heading_five.styles.get("font-style")');
$h5-font-weight: hubl('theme.typography.heading_five.styles.get("font-weight")');

$h6-font: hubl('theme.typography.heading_six.font');
$h6-font-size: hubl('theme.typography.heading_six.size') + hubl('theme.typography.heading_six.size_unit');
$h6-font-color: hubl('theme.typography.heading_six.color');
$h6-font-decoration: hubl('theme.typography.heading_six.styles.get("text-decoration")');
$h6-font-style: hubl('theme.typography.heading_six.styles.get("font-style")');
$h6-font-weight: hubl('theme.typography.heading_six.styles.get("font-weight")');

$anchor-font-color: hubl('theme.typography.link_color.color');

$preheader-font: hubl('theme.typography.preheader.font');
$preheader-font-color: hubl('theme.typography.preheader.color');
$preheader-font-size: hubl('theme.typography.preheader.size') + hubl('theme.typography.preheader.size_unit');

$header-font: hubl('theme.header.menu_link_font.font');
$header-font-color: hubl('theme.header.menu_link_font.color');
$header-font-size: hubl('theme.header.menu_link_font.size') + hubl('theme.typography.preheader.size_unit'); ;

