.kl-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .kl-logos {
    flex-wrap: wrap;
  }
}

.kl-logos__item {
  padding: 16px 24px;
}

.kl-logos__item > img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .kl-logos__item {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 480px) {
  .kl-logos__item {
    flex-basis: 33%;
  }
}

@media screen and (max-width: 340px) {
  .kl-logos__item {
    flex-basis: 50%;
  }
}
