<div class="kl-features-01">

  {% for item in module.features %}
    <div class="kl-features-01__card">

      {% if item.figure.type == 'img' %}

        {% if item.figure.image.src %}
          <div class="kl-features-01__image">
            <img src="{{ item.figure.image.src }}" alt="{{ item.figure.image.alt }}">
          </div>
        {% endif %}

      {% elif item.figure.type == 'icon' %}

        {% if item.figure.icon %}
          <div class="kl-features-01__image">
          {% icon name="{{ item.figure.icon.name }}" 
            style="{{ item.figure.icon.type }}"
            unicode="{{ item.figure.icon.unicode }}"
          %}
          </div>
        {% endif %}

      {% endif %}

      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>

    </div>
  {% endfor %}

</div>
