<!--
  templateType: membership_register_page
  isAvailableForNewContent: true
  label: Boilerplate - membership registration
  screenshotPath: ../../images/template-previews/membership-registration.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">

  <section class="systems-page systems-page--membership">

    <div class="systems-page__content">

      <h1>Create your account</h1>
      <p>Set up your password to sign in and see the content you now have access to.</p>
      <div class="form-container">
        {% member_register 'my_register'
          email_label='Email',
          password_confirm_label='Confirm password',
          password_label='Password',
          submit_button_text='CREATE ACCOUNT'
        %}
      </div>

    </div>

  </section>

</main>
{% endblock %}
