<!--
  templateType: membership_reset_request_page
  isAvailableForNewContent: true
  label: Boilerplate - reset password request
  screenshotPath: ../../images/template-previews/membership-reset-password-request.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">

  <section class="systems-page systems-page--membership">

    <div class="systems-page__content">

      <h1>Reset your password</h1>
      <p>We’ll send a password reset email to you.</p>
      <div class="form-container">
        {% password_reset_request 'my_password_reset_request'
          email_label='Email',
          submit_button_text='SEND EMAIL'
        %}
      </div>

    </div>

  </section>
</main>
{% endblock %}
